/* Estilo para o título */
h1 {
    font-size: 2.5rem; 
    color: #f8f9fa; 
    text-align: center; 
    margin: 20px 0; 
    font-family: 'Roboto', sans-serif; 
    background: linear-gradient(135deg, #343a40, #495057); 
    padding: 10px 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-decoration: none;
}

/* Estilo do contêiner pai para dark mode */
body {
    background-color: #212529; 
    color: #e9ecef; 
    font-family: 'Roboto', sans-serif; 
}
